@model MessageBoardClient.Models.Message

<h4>Edit Message</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(m => m.MessageId)
  
  @Html.LabelFor(model => model.Group)
  @Html.TextBoxFor(model => model.Group, new {required = "required"})

  @Html.LabelFor(model => model.Author)
  @Html.TextBoxFor(model => model.Author, new {required = "required"})

  @Html.LabelFor(model => model.Body)
  @Html.TextAreaFor(model => model.Body, new {required = "required"})

  <input type="submit" value="Save Changes" class="btn btn-success" />
}

